h2,
p,
mat-label,
mat-error,
mat-hint,
button,
input,
.error {
  font-family: "kanit", sans-serif;
}

h2 {
  text-align: center;
}

mat-card {
  border-radius: 20px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
  opacity: 0;
  transform: translateY(40px);
  animation: animateIn 1000ms ease 200ms forwards;
}

.error {
  color: red;
  margin-top: 10px;
}
.message {
  color: rgb(0, 255, 47);
  margin-top: 10px;
}

.reset-login {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btn-reset {
  background-color: #4a005e;
  color: white;
  border-radius: 20px;
  width: 140px;
  
}
.btn-reset:hover {
  background-color: #8a00b0;
}
.btn-reset:disabled {
  background-color: #666666;
}

.btn-login {
  background-color: white;
  cursor: pointer;
  border: 0;
  font-weight: 500;
}
.btn-login:hover {
  color: #666;
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
