<mat-card>
  <h2>ลืมรหัสผ่าน</h2>
  <p>กรอกอีเมลของคุณแล้วเราจะส่งคำแนะนำในการรีเซ็ตรหัสผ่านไปให้คุณ</p>
  <form (ngSubmit)="onResetPassword()" #resetForm="ngForm">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        required
        [(ngModel)]="email"
        name="email"
        #emailInput="ngModel"
        autocomplete="email"
      />
      <mat-error *ngIf="emailInput.invalid && emailInput.touched">
        กรุณาใส่อีเมลที่ถูกต้อง
      </mat-error>
    </mat-form-field>

    <div class="reset-login">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="btn-reset"
        [disabled]="resetForm.invalid"
      >
        รีเซ็ตรหัสผ่าน
      </button>
      <button class="btn-login" routerLink="/login">เข้าสู่ระบบ</button>
    </div>

    <div *ngIf="message" class="message">
      <mat-hint>{{ message }}</mat-hint>
    </div>

    <div *ngIf="errorMessage" class="error">
      <mat-error>{{ errorMessage }}</mat-error>
    </div>
  </form>
</mat-card>
