<div class="home-container">
  <div class="home-list">
    <h1 *ngIf="user">Hello "{{ user.email }}"</h1>
    <h2>
      Welcome to my authentication website using Angular + Firebase, created by
      TorDev.
    </h2>
    <div class="logo-AF">
      <img
        class="img-1"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png"
      />
      <img
        class="img-2"
        src="https://firebase.google.com/static/downloads/brand-guidelines/SVG/logo-standard.svg"
      />
    </div>
  </div>
</div>
