<mat-toolbar class="nav-container">
  <div class="nav-logo">
    <img src="assets/images/tordev-fff.png" alt="">
    <span>AuthSystem by TorDev</span>
  </div>
  <div class="nav-btn">
  <ng-container *ngIf="user$ | async as user; else guest">
    <span class="userShow">{{ user.email }}</span>
    <button class="nav-button" mat-button (click)="logout()">Logout</button>
  </ng-container>
    <ng-template #guest>
      <button class="nav-button menu-pc" mat-button routerLink="/login">เข้าสู่ระบบ</button>
      <button class="nav-button menu-pc" mat-button routerLink="/register">สมัครสมาชิก</button>
    </ng-template>
  </div>

  <button class="menu-mb" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/login">
      <mat-icon>person</mat-icon>
      <span>เข้าสู่ระบบ</span>
    </button>
    <button mat-menu-item routerLink="/register">
      <mat-icon>person_add</mat-icon>
      <span>สมัครสมาชิก</span>
    </button>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
